<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="cadastro, noticia, NodeJs">
    <link rel="icon" href="/public/favicon.ico">
    <title>Cadastro</title>
    <link rel="stylesheet" href='/css/home.css'>
    <link rel="icon" href='/img/favicon.ico'>
</head>
<body>
    <h1 id="main-title">Cadastre-se, é grátis! :)</h1>

    <section class="form-section">
        <form action="/teste" method="post" class="form-user">

           <div class="grid">
                <label for="">Nome: </label>
                <input type="text" name="nome" class="form-user-input" placeholder="Nome" value="<%= nomeValue %>" required>
                <label for="" style="color: rgb(218, 31, 31);"><%= nomeError %>  </label>
           </div>

           <div class="grid">
                <label for="">Sobrenome: </label>
                <input type="text" class="form-user-input" placeholder="Sobrenome" name="sobrenome" value="<%= sobrenomeValue %>" required>
                <label for="" style="color: rgb(196, 40, 40);"><%= sobrenomeError %>  </label>

           </div>

           <div class="grid">
                <label for="">Seu melhor email: </label>
                <input type="email" class="form-user-input" placeholder="@example.com" name="email" value="<%= emailValue %>" required> 
                <label  style="color: rgb(161, 35, 35);"><%= emailError %>  </label>
                <label  style="color: rgb(189, 35, 35);"><%= emailExist %>  </label>
           </div>

           <div class="grid">
                <input type="submit" value="cadastrar" class="form-user-button" >
           </div>

           <p> <%= nomeError %> </p>
        </form> 

    </section>
</body>
</html>